div#links.info
	h1 Michael Lam
	p Software Engineer, Amateur Athelete and Paleo Foodie.

	div.label.left 
		img(src='/twitter.png',alt='Twitter')
	div.left 
		a(href='https://twitter.com/mlamz',target='_blank') @mlamz
	div.clear
	div.label.left
		img(src='/github.png',alt='GitHub')
	div.left 
		a(href='https://github.com/mlamz',target='_blank') github.com/mlamz
	div.clear
	div.label.left
		img(src='/blog.png',alt='Blog')
	div.left 
		a(href='http://www.michaellam.co.uk',target='_blank') michaellam.co.uk
	div.clear

